.anime-details {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  min-height: 100vh;
}

.anime-details .col-6 {
  flex: 1;
  padding: 30px;
  max-width: 600px;
}

.anime-details img {
  max-width: 100%;
  height: 500px;
  padding-left: 60px;
}

.anime-details ul {
  list-style: none;
  padding: 0;
}

.anime-details ul li {
  margin-bottom: 10px;
}

.details-trailer h1 {
  max-width: 600px;
  padding-left: 470px;
}

iframe {
  display: block;
  margin: 40px auto;
}

@media (max-width: 768px) {
  .anime-details {
    flex-direction: column;
    text-align: center;
  }

  .anime-details .col-6 {
    max-width: 100%;
  }
}
