:root {
  --accent-color: #8b0000;
}
body {
  background: rgba(60, 85, 51, 0.05);
}

.hero {
  text-align: center;
  padding: 160px 20px;
}

.btn-branding {
  background-color: var(--accent-color) !important;
  color: white !important;
  padding: 10px 25px;
  line-height: 25px;
  margin-top: 200px;
  border: 1px solid var(--accent-color) !important;
}

.btn-branding:hover {
  color: var(--accent-color) !important;
  background-color: white !important;
}

.btn-search {
  background-color: transparent !important;
  color: var(--accent-color) !important;
  border: 1px solid var(--accent-color) !important;
}

.grid-container h4 {
  margin: 7px;
}

.title-card-container {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
}

.title-card-container .title-card {
  margin-right: 10px; /* Optional spacing between cards */
  flex: 0 0 auto; /* Prevents shrinking of cards */
}
